[submodule "Pattern-Recognition-Assignment1-Visualization"]
	path = Pattern-Recognition-Assignment1-Visualization
	url = https://github.com/supermassiveasshole/Pattern-Recognition-Assignment1-Visualization.git
